/*****************************************************************************
balises principal
*****************************************************************************/

html {
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

body {

}

main {
  padding: 1% 5%;
  background-image: url('../img/geo.jpg');
  background-attachment: fixed;
  background-position: bottom;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

/*****************************************************************************
scrollbar
*****************************************************************************/
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #413E77;

}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #1d66db 0%, #09a7db 100%);
  border-radius: 10px;
}

/*****************************************************************************
header
*****************************************************************************/

header {
  width: 100%;
  height: 430px;
  background-image: url('../img/web.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  border-bottom: 4px solid;
  border-image-source: linear-gradient(to right, #4697e3 30%, #e8bca0 100%);
  border-image-slice: 1;
}

@keyframes smoothTop-to-Bottom {
  0% {top: -6em;}
  30% {top: 3em;}
  50% {top: 2.8em;}
  100% {top: 3em;}
}

.menuPlaceholder {
  width: 100%;
  height: 30px;
}

.likeTerminal {
  padding-top: 5em;
  font-family: 'Inconsolata', monospace;
  color: white;
}

.me {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-size: 2.8em;
  background-color: black;
}

@keyframes likeCMD {
  0%{color: black;}
}

header .fa-terminal {
  padding: 0.5%;
  margin-right: 20px;
  animation-name: likeCMD;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

.devH2 {
  width: 40%;
  margin: auto;
  text-align: center;
  font-size: 2.3em;
  background-color: black;
}

.aboutH2 {
  font-size: 2.6em;
  position: absolute;
  top: 3em;
  left: 0.7em;
  z-index: 0;
  background: linear-gradient(to right, #10b6e8 0%, orange 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: smoothTop-to-Bottom;
  animation-duration: 2s;
}

#menuNav {
  width: 100%;
  padding: 15px 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 2;
}

#menuNav a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 1s;
  border-radius: 20px;
}

#menuNav a:hover {
  margin-left: 7px;
}

#currentTime {
  color: white;
  font-size: 1.3em;
}

@keyframes aboutR-to-L {
  from {margin-left: -20em;}
  50% {margin-left: 25em;}
  to {margin-left: 2em;}
}

.aboutMe {
  width: 30%;
  padding: 10px 15px;
  margin-left: 2em;
  line-height: 1.5;
  border-radius: 20px;
  text-align: justify;
  color: white;
  background-color: rgba(53, 54, 56, 0.8);
  animation-name: aboutR-to-L;
  animation-duration: 2.5s;
}

/*****************************************************************************
main
*****************************************************************************/

main h2 {
  text-align: center;
  margin: 30px -5%;
  padding: 3px 0;
}

main h2 i {
  font-size: 1.5em;
}

main section {
  margin: 5% 0;
}

.mainH2 {
  font-size: 2em;
  transition: all 0.5s ease;
  background-color: transparent;
  background: linear-gradient(to right, transparent 0%, #cf0c5a 50%, transparent 100%);
  color: #ebebeb;
}

.paddingSpan {
  padding: 0 1em;
  transition: all 1.3s;
}

.mainH2 i {
  color: #07b561;
  vertical-align: sub;
}

/**************************************
ensemble du contenu de #langagesFrame
**************************************/
#langagesFrame {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  line-height: 1.5;
}

.frontend, .backend, .frameworks {
  width: 30%;
  padding: 0 0 20px 0;
  background-color: #012456;
  color: white;
}

#langagesFrame h3 {
  margin: 0 0 10px;
  padding: 3px 0;
  font-size: 1em;
  background-color: white;
  color: black;
}

#langagesFrame .fa-terminal {
  margin: 0 4px;
  padding: 3px;
  background-color: #4474CD;
  color: white;
}

#langagesFrame p {
  margin-left: 20px;
}

.ls {
  color: yellow;
}

.directoryMain p {
  margin-right: 20%;
  display: inline-block;
  border-bottom: white 1.5px dashed;
}

.directoryMain {
  margin: 15px 0;
}

.directory {
  display: flex;
}

.directory div {
  margin-right: 20%;
  display: flex;
  flex-direction: column;
}

.directory div:nth-child(2) {
  margin-left: 5px;
}

/**************************************
.expProSection
**************************************/
.expProSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  transition: all 1s ease;
}

.expDiv {
  width: 31%;
  padding: 10px;
  position: relative;
  left: -95em;
  border-radius: 15px;
  background-image: url('../img/dotsBackground.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  transition: all 0.5s ease;
}

.expDiv h3 {
  margin: -9px -9px 10px;
  padding: 10px 0;
  text-align: center;
  border-radius: 15px 15px 0 0;
  background: rgba(204, 204, 204, 0.5);
  color: #0330fc;
  border-bottom: solid 2px #E44D26;
}

.expDiv p {
  text-align: center;
  font: message-box;
  font-size: 1.1em;
  color: #0a93c4;
}

.expDiv ul {
  margin-left: -15px;
}

.expDiv li {
  line-height: 2;
  color: #e00d0d;
  font-weight: bold;
  list-style: none;
}

.expDiv span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-bottom: 1px;
  margin-right: 10px;
  border-radius: 35%;
}

/**************************************
.formationsSection
**************************************/
.formationsSection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#smoothBar {
  display: block;
  height: 5px;
  background: linear-gradient(to right, #e310d8 0%, #0978bd 100%);
  transition: all 0.7s ease;
}

.formationsDiv {
  margin: 15px 0;
  width: 25em;
  padding: 5px 15px 15px;
  text-align: center;
  background-image: url('../img/square2.jpg');
  background-attachment: fixed;
  border-radius: 5px 5px 15px 15px;
  -webkit-box-shadow: 0px 0px 60px 7px rgba(85,36,139,1);
  -moz-box-shadow: 0px 0px 60px 7px rgba(85,36,139,1);
  box-shadow: 0px 0px 60px 7px rgba(85,36,139,1);
  color: white;
}

.formationsDiv ul {
  list-style: none;
  text-align: left;
  line-height: 2;
}

.formationsDiv i {
  margin-right: 6px;
  font-size: 1.1em;
}

/**************************************
.realisationSection
**************************************/
.realisationSection {
  width: 70%;
  margin: auto;
  position: relative;
  padding: 1.3em 0;
  z-index: 1;
  border-radius: 10px;
  background: linear-gradient(to right, #ed4eb6 0%, #09a3e0 100%);
}

.realisationSection svg {
  z-index: -1;
  position: absolute;
  margin-top: -1.3em;
}

.realisationSection h3 {
  width: 70%;
  margin: 20px auto;
  padding: 13px 0;
  z-index: 2;
  text-align: center;
  font-size: 1.5em;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.75);
  color: #00d5ff;
}

/**************************************
.shifumi
**************************************/
#gameTimer {
  text-align: center;
  font-size: 2em;
  color: white;
  height: 20px;
}

.ruls {
  text-align: center;
  font-size: 1.4em;
}

.rulsP {
  margin: 0;
  background: linear-gradient(to left, #10b6e8 45%, orange 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.ruls ul {
  width: 70%;
  max-height: 0;
  margin: 1px auto;
  padding: 15px 20px;
  text-align: left;
  line-height: 1.5;
  list-style: decimal;
  font-size: 0.85em;
  border-radius: 10px;
  border: groove 2px #FFA500;
  background-color: rgba(0, 0, 0, 0.4);
  color: #00c4ff;
  list-style-position: inside;
  transition: all 0.4s linear;
  transform: scaleY(0);
  transform-origin: top;
}

.collapsed {
  margin: 20px auto!important;
  transform: scaleY(1)!important;
  max-height: 300px!important;
}

.fa-chevron-circle-down {
  font-size: 1.5em;
  cursor: pointer;
  color: #10B6E8;
  transform: rotate(360deg);
  transition: all 0.4S linear;
}

.rotateChevron {
  transform: rotate(180deg);
}

.shifumi {
  padding: 5% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: linear-gradient(to right, rgba(255, 0, 68, 0.8) 23%, rgba(37, 49, 217, 0.8) 100%);
  border-radius: 10px;
}

.userChoice, .score, .JSchoice {
  width: 20%;
  height: 200px;
  position: relative;
  border: solid 2px white;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

#userPointDiv, #jsPointDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: -3em;
}

.userPoint, .jsPoint {
  width: 30px;
  height: 30px;
  border: solid 2px black;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

#userContent {
  margin: 15% 0;
  text-align: center;
  font-size: 5em;
}

.alignChoices {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -2.6em;
}

.choice {
  font-size: 1.8em;
  cursor: pointer;
  background-color: transparent;
}

#winner {
  width: 100%;
  position: absolute;
  top: -2em;
  text-align: center;
  font-size: 1.4em;
  color: white;
}

.fa-flag-checkered {
  padding: 0 3%;
}

.roundDiv {
  height: 160px;
  margin: 2%;
  padding: 10px 0;
  overflow: auto;
}

.roundDiv p {
  line-height: 1.7;
  color: white;
}

.gameplay {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -3em;
}

#game, #reset {
  width: 45%;
  padding: 8px 0;
  font-size: 1em;
  cursor: pointer;
  border: solid 1px white;
  border-radius: 5px;
  transition: all 0.5s linear;
}

#game {
  background-color: #3958AE;
  color: #09ede9;
}

#game:hover {
  background-color: #5a7cdb;
}

#reset {
  background-color: #e33960;
  color: #e3d1d5;
}

#reset:hover {
  background-color: #b50028;
}

#JScontent {
  margin: 15% 0;
  text-align: center;
  font-size: 5em;
}

/*****************************************************************************
footer
*****************************************************************************/
footer {
  padding: 15px 0;
  background-color: #453263;
  border-top: 4px solid;
  border-image-source: linear-gradient(to left, #4697e3 30%, #e8bca0 100%);
  border-image-slice: 1;
}

footer h2 {
  text-align: center;
  font-size: 2em;
  color: white;
}

#contactForm {
  display: flex;
  justify-content: center;
}

#contactForm fieldset {
  border: none;
}

#contactForm label {
  margin-bottom: 5px;
  padding-bottom: 5px;
  display: block;
  text-align: initial;
  font-size: 1.1em;
  background: linear-gradient(to left, #10b6e8 0%, orange 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

#contactForm i {
  margin-left: 5px;
  margin-right: 10px;
  font-size: 1.2em;
  background: linear-gradient(to right, #10b6e8 0%, orange 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#contactForm input {
  padding: 2px;
  margin-bottom: 15%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ededed;
  border-radius: 5px 5px 0 0;
  border: none;
  border-bottom: solid 1.5px #4ecf71;
}

#contactForm textarea {
  display: inline;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-bottom: solid 1.5px #4ecf71;
}

#contactForm button {
  width: 80%;
  margin: auto;
  padding: 6px 0;
  display: block;
  background-color: #0069D9;
  border-color: #0069D9;
  border-radius: 5px;
  color: white;
  transition: all linear 0.3s;
}

#contactForm button:hover {
 font-size: 1.05em;
}
